<%if (districts.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>জেলার নাম</th>
        <th>মসুর (কেজি) </th>
        <th>টাকা</th>
        <th>মুগ (কেজি) </th>
        <th>টাকা</th>
        <th>মাষকলাই (কেজি) </th>
        <th>টাকা</th>
        <th>খেসারি (কেজি) </th>
        <th>টাকা</th>
        <th>ফেলন (কেজি) </th>
        <th>টাকা</th>
        <th>অড়হর (কেজি) </th>
        <th>টাকা</th>
        <th>সরিষা (কেজি) </th>
        <th>টাকা</th>
        <th>তিল (কেজি) </th>
        <th>টাকা</th>
        <th>সয়াবিন (কেজি) </th>
        <th>টাকা</th>
        <th>চিনাবাদাম (কেজি) </th>
        <th>টাকা</th>
        <th>সূর্যমুখী (কেজি) </th>
        <th>টাকা</th>
        <th>পেঁয়াজ (কেজি) </th>
        <th>টাকা</th>
        <th>রসুন (কেজি) </th>
        <th>টাকা</th>
        <th>হলুদ (কেজি) </th>
        <th>টাকা</th>
        <th>মরিচ (কেজি) </th>
        <th>টাকা</th>
        <th>আদা (কেজি) </th>
        <th>টাকা</th>
        <th>ধনিয়া (কেজি) </th>
        <th>টাকা</th>
        <th>কালোজিরা (কেজি) </th>
        <th>টাকা</th>
    </tr>
    </thead>
    <tbody>
        
<% districts.forEach(function(rows){ %>
    <tr>
        <td><%= rows.district %></td>
        <%if (records.length >0){ %>
        <%
            let index = null; 
             records.forEach(function(row){ 
                if (rows.id === row.dd_id){
                    index = row.id
                }
             }) 
             console.log("index",index);
        %>

        <%if (index !== null){ %>
            <% var sumMoshurAmount=0;%>
            <% var sumMugAmount=0;%>
            <% var sumMashkolaiAmount=0;%>
            <% var sumKheshariAmount=0;%>
            <% var sumFelonAmount=0;%>
            <% var sumArohorAmount=0;%>
            <% var sumShorishaAmount=0;%>
            <% var sumTilAmount=0;%>
            <% var sumSoyabeanAmount=0;%>
            <% var sumChinabadamAmount=0;%>
            <% var sumSunflowerAmount=0;%>
            <% var sumOnionAmount=0;%>
            <% var sumRoshunAmount=0;%>
            <% var sumHoludAmount=0;%>
            <% var sumMorichAmount=0;%>
            <% var sumAdaAmount=0;%>
            <% var sumDhoniaAmount=0;%>
            <% var sumKalojiraAmount=0;%>
            <% var sumMoshurSale=0;%>
            <% var sumMugSale=0;%>
            <% var sumMashkolaiSale=0;%>
            <% var sumKheshariSale=0;%>
            <% var sumFelonSale=0;%>
            <% var sumArohorSale=0;%>
            <% var sumShorishaSale=0;%>
            <% var sumTilSale=0;%>
            <% var sumSoyabeanSale=0;%>
            <% var sumChinabadamSale=0;%>
            <% var sumSunflowerSale=0;%>
            <% var sumOnionSale=0;%>
            <% var sumRoshunSale=0;%>
            <% var sumHoludSale=0;%>
            <% var sumMorichSale=0;%>
            <% var sumAdaSale=0;%>
            <% var sumDhoniaSale=0;%>
            <% var sumKalojiraSale=0;%>

            <% console.log("sumMoshurAmount",sumMoshurAmount);%>
            
            <% sumMoshurAmount=sumMoshurAmount+row[index].moshurAmount %>
            <%  sumMugAmount=sumMugAmount+row[index].mugAmount; %>
            <%  sumMashkolaiAmount=sumMashkolaiAmount+row[index].mashkolaiAmount; %>
            <% sumKheshariAmount=sumKheshariAmount+row[index].kheshariAmount; %>
            <% sumFelonAmount=sumFelonAmount+row[index].felonAmount; %>
            <% sumArohorAmount=sumArohorAmount+row[index].arohorAmount; %>
            <%  sumShorishaAmount=sumShorishaAmount+row[index].shorishaAmount; %>
            <%  sumTilAmount=sumTilAmount+row[index].tilAmount; %>
            <%  sumSoyabeanAmount=sumSoyabeanAmount+row[index].soyabeanAmount; %>
            <%  sumChinabadamAmount=sumChinabadamAmount+row[index].chinabadamAmount; %>
            <%  sumSunflowerAmount=sumSunflowerAmount+row[index].sunflowerAmount; %>
            <% sumOnionAmount=sumOnionAmount+row[index].onionAmount; %>
            <% sumRoshunAmount=sumRoshunAmount+row[index].roshunAmount; %>
            <%  sumHoludAmount=sumHoludAmount+row[index].holudAmount; %>
            <% sumMorichAmount=sumMorichAmount+row[index].morichAmount; %>
            <%  sumAdaAmount=sumAdaAmount+row[index].adaAmount; %>
            <%  sumDhoniaAmount=sumDhoniaAmount+row[index].dhoniaAmount; %>
            <%  sumKalojiraAmount=sumKalojiraAmount+row[index].kalojiraAmount; %>

           

            <% sumMoshurSale=sumMoshurSale+row[index].moshurSale %>
            <%  sumMugSale=sumMugSale+row[index].mugSale; %>
            <%  sumMashkolaiSale=sumMashkolaiSale+row[index].mashkolaiSale; %>
            <% sumKheshariSale=sumKheshariSale+row[index].kheshariSale; %>
            <% sumFelonSale=sumFelonSale+row[index].felonSale; %>
            <% sumArohorSale=sumArohorSale+row[index].arohorSale; %>
            <%  sumShorishaSale=sumShorishaSale+row[index].shorishaSale; %>
            <%  sumTilSale=sumTilSale+row[index].tilSale; %>
            <%  sumSoyabeanSale=sumSoyabeanSale+row[index].soyabeanSale; %>
            <%  sumChinabadamSale=sumChinabadamSale+row[index].chinabadamSale; %>
            <%  sumSunflowerSale=sumSunflowerSale+row[index].sunflowerSale; %>
            <% sumOnionSale=sumOnionSale+row[index].onionSale; %>
            <% sumRoshunSale=sumRoshunSale+row[index].roshunSale; %>
            <%  sumHoludSale=sumHoludSale+row[index].holudSale; %>
            <% sumMorichSale=sumMorichSale+row[index].morichSale; %>
            <%  sumAdaSale=sumAdaSale+row[index].adaSale; %>
            <%  sumDhoniaSale=sumDhoniaSale+row[index].dhoniaSale; %>
            <%  sumKalojiraSale=sumKalojiraSale+row[index].kalojiraSale; %>
           
                <%  sumAmount=sumMoshurAmount+sumMugAmount+sumMashkolaiAmount+sumKheshariAmount+sumFelonAmount+sumArohorAmount+sumShorishaAmount+sumTilAmount+sumSoyabeanAmount+sumChinabadamAmount+sumSunflowerAmount+sumOnionAmount+sumRoshunAmount+sumHoludAmount+sumMorichAmount+sumAdaAmount+sumDhoniaAmount+sumKalojiraAmount;%>
                <%  sumSale=sumMoshurSale+sumMugSale+sumMashkolaiSale+sumKheshariSale+sumFelonSale+sumArohorSale+sumShorishaSale+sumTilSale+sumSoyabeanSale+sumChinabadamSale+sumSunflowerSale+sumOnionSale+sumRoshunSale+sumHoludSale+sumMorichSale+sumAdaSale+sumDhoniaSale+sumKalojiraSale;%>

                <td>
                    <%if (sumMoshurAmount === 0){ %>    
                                0                                       
                        <% }else{ %>
                            <%= sumMoshurAmount %>
                        <% } %>
                    </td>
                    <td>
                        <%if (sumMoshurSale === 0){ %>  
                            0                                                 
                            <% }else{ %>
                                <%= sumMoshurSale %>
                            <% } %>
                            </td>


                   <td> <%if (sumMugAmount === 0){ %>   
                    0                                                
                        <% }else{ %>
                            <%= sumMugAmount %> 
                        <% } %>
                    </td>
                    <td><%if (sumMugSale === 0){ %>     
                        0                                              
                        <% }else{ %>
                            <%= sumMugSale %> 
                        <% } %>
                        </td>


                    <td><%if (sumMashkolaiAmount === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumMashkolaiAmount %>
                        <% } %>
                    </td>
                    <td><%if (sumMashkolaiSale === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumMashkolaiSale %> 
                        <% } %>
                        </td>


                    <td><%if (sumKheshariAmount === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumKheshariAmount %> 
                        <% } %>
                    </td>
                    <td><%if (sumKheshariSale === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumKheshariSale %> 
                        <% } %>
                        </td>

                    
                    <td><%if (sumFelonAmount === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumFelonAmount %> 
                        <% } %>
                    </td>
                    <td><%if (sumFelonSale === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumFelonSale %> 
                        <% } %>
                        </td>


                    <td><%if (sumArohorAmount === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumArohorAmount %> 
                        <% } %>
                    </td>
                    <td><%if (sumArohorSale === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumArohorSale %> 
                        <% } %>
                        </td>



                    <td><%if (sumShorishaAmount === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumShorishaAmount %> 
                        <% } %>
                    </td>
                    <td><%if (sumShorishaSale === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumShorishaSale %> 
                        <% } %>
                        </td>


                    <td><%if (sumTilAmount === 0){ %>                                                   
                        0
                        <% }else{ %>
                            <%= sumTilAmount %>
                        <% } %>
                        </td>
                        <td><%if (sumTilSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                                <%= sumTilSale %> 
                            <% } %>
                            </td>



                        <td><%if (sumSoyabeanAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumSoyabeanAmount %> 
                        <% } %>
                        </td>
                        <td><%if (sumSoyabeanSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                                <%= sumSoyabeanSale %> 
                            <% } %>
                            </td>


                        <td><%if (sumChinabadamAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumChinabadamAmount %> 
                        <% } %>
                        </td>
                        <td><%if (sumChinabadamSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                                <%= sumChinabadamSale %> 
                            <% } %>
                            </td>


                        <td><%if (sumSunflowerAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumSunflowerAmount %> 
                        <% } %>
                        </td>
                        <td><%if (sumSunflowerSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                                <%= sumSunflowerSale %> 
                            <% } %>
                            </td>


                        <td><%if (sumOnionAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumOnionAmount %>
                        <% } %>
                        </td>
                        <td><%if (sumOnionSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                                <%= sumOnionSale %> 
                            <% } %>
                            </td>


                        <td><%if (sumRoshunAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumRoshunAmount %> 
                        <% } %>
                        </td>
                        <td><%if (sumRoshunSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                                <%= sumRoshunSale %> 
                            <% } %>
                            </td>


                        <td><%if (sumHoludAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumHoludAmount %>
                        <% } %>
                        </td>
                        <td><%if (sumHoludSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                                <%= sumHoludSale %>
                            <% } %>
                            </td>

                        <td><%if (sumMorichAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumMorichAmount %> 
                        <% } %>
                        </td>
                        <td><%if (sumMorichSale === 0){ %>                                                   
                         0
                            <% }else{ %>
                                <%= sumMorichSale %>
                            <% } %>
                            </td>

                        <td><%if (sumAdaAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumAdaAmount %> 
                        <% } %>
                        </td>
                        <td><%if (sumAdaSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                                <%= sumAdaSale %> 
                            <% } %>
                            </td>

                        <td><%if (sumDhoniaAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumDhoniaAmount %> 
                        <% } %>
                        </td>
                        <td><%if (sumDhoniaSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                                <%= sumDhoniaSale %> 
                            <% } %>
                            </td>


                        <td><%if (sumKalojiraAmount === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumKalojiraAmount %> 
                        <% } %>
                        </td>

                        <td><%if (sumKalojiraSale === 0){ %>                                                   
                        0
                            <% }else{ %>
                            <%= sumKalojiraSale %> 
                        <% } %>
                        </td>

                <% }else{ %>
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <td>-</td>
                    <td>-</td> 
                    <% } %>


                    <% }else{ %>
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <td>-</td>
                        <td>-</td> 
                        <% } %>
    </tr>
<% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>জেলার নাম</th>
            <th>মসুর (কেজি) </th>
            <th>টাকা</th>
            <th>মুগ (কেজি) </th>
            <th>টাকা</th>
            <th>খেসারি (কেজি) </th>
            <th>টাকা</th>
            <th>ফেলন (কেজি) </th>
            <th>টাকা</th>
            <th>সরিষা (কেজি) </th>
            <th>টাকা</th>
            <th>সয়াবিন (কেজি) </th>
            <th>টাকা</th>
            <th>চিনাবাদাম (কেজি) </th>
            <th>টাকা</th>
            <th>সূর্যমুখী (কেজি) </th>
            <th>টাকা</th>
            <th>তিল (কেজি) </th>
            <th>টাকা</th>
            <th>পেঁয়াজ (কেজি) </th>
            <th>টাকা</th>
            <th>রসুন (কেজি) </th>
            <th>টাকা</th>
            <th>মরিচ (কেজি) </th>
            <th>টাকা</th>
            <th>ধনিয়া (কেজি) </th>
            <th>টাকা</th>
            <th>কালোজিরা (কেজি) </th>
            <th>টাকা</th>
            <th>হলুদ (কেজি) </th>
            <th>টাকা</th>
            <th>আদা (কেজি) </th>
            <th>টাকা</th>        </tr>
        </thead>
        <tbody>
        <% districts.forEach(function(row){ %>
            <tr>
                <td colspan="37">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>