<%- include('../includes/header')-%>
        <div class="wrapper">
          <%- include('../includes/topbar')-%>

            <div class="page-wrap">
              <%- include('../includes/sidebar')-%>

                
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6><%= dds.district %> জেলার মোট এসএমইর সংখ্যাঃ</h6>
                                                <h4><%= records.length %></h4>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>বীজ ডিলার হিসেবে নিবন্ধিত এসএমইর সংখ্যাঃ</h6>
                                                <h4><%= sumregis %></h4>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>রেজিস্ট্রেশনের জন্য আবেদনকৃত এসএমইর সংখ্যাঃ</h6>
                                                <h4><%= sumDealers %></h4>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>রেজিস্ট্রেশনের জন্য উদ্যোগ নেয়নি এসএমইর সংখ্যাঃ</h6>
                                                <h4><%= sumNonDealers %></h4>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                </div>
               
                <div class="row clearfix">
                    <%if (upazillas.length >0){ %>
                            <div class="col-md-4">
                                <label for="upazilla">উপজেলা :</label>
                                <select id="upazilla" name="upazilla">
                                    <option value="">উপজেলা বাছুন:</option>
                                        <% upazillas.forEach(function(row){ %>
                                            <option value="<%= row.id %>"><%= row.upazilla %></option>
                                        <% }) %>
                                    </select>
                            </div>
                        <% } %>
                    </div>

                <div class="table-responsive" id="output">
                    
                </div>
            
            
            
            </div>
        </div>
        
        <%- include('../includes/footer')-%>

        <script>
        
            $(document).ready(function(){
                
              $('.dropdown a.test').on("click", function(e){
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
              });
            });
        </script>
        
        <script type="text/javascript">
           
        
            $("#wrapper").load( "no url rn",function() {                
                var upazilla = $('#upazilla').val();
                $.ajax({
                    type: "POST",
                    url: "/dd/dashboardFilter",
                    data: {upazilla:upazilla},
                    datatype: "json",
                    beforeSend: function() {
                        // setting a timeout
                        $('#loading').show();
                        $('#output').hide();
        
                    },
                    success: function (data) {
                        $('#output').html(data);
                        $('#tblCustomers').DataTable();
                    },
                    complete: function() {
                        $('#loading').hide();
                        $('#output').show();
                    }
                });
            });
        
            $('#upazilla').on("change",function () {
                var upazilla = $('#upazilla').val();
                $.ajax({
                    type: "POST",
                    url: "/dd/dashboardFilter",
                    data: {upazilla:upazilla},
                    datatype: "json",
                    beforeSend: function() {
                        // setting a timeout
                        $('#loading').show();
                        $('#output').hide();
                    },
                    success: function (data) {
                        $('#output').html(data);
                        $('#tblCustomers').DataTable();
                    },
                    complete: function() {
                        $('#loading').hide();
                        $('#output').show();
                    }
                });
            });
        
            $(document).ready(function() {
                $('#tblCustomers').DataTable();
            } );
        
            
        
        </script>