<%- include('../includes/header')-%>
        <div class="wrapper">
          <%- include('../includes/topbar')-%>

            <div class="page-wrap">
              <%- include('../includes/sidebar')-%>

                
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>সারাদেশে মোট এসএমইর সংখ্যাঃ</h6>
                                                <h4><%= records.length %></h4>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>বীজ ডিলার হিসেবে নিবন্ধিত এসএমইর সংখ্যাঃ</h6>
                                                <h4><%= sumregis %></h4>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>রেজিস্ট্রেশনের জন্য আবেদনকৃত এসএমইর সংখ্যাঃ</h6>
                                                <h4><%= sumDealers %></h4>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>রেজিস্ট্রেশনের জন্য উদ্যোগ নেয়নি এসএমইর সংখ্যাঃ</h6>
                                                <h4><%= sumNonDealers %></h4>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                </div>
               
                <div class="row clearfix">
                    <%if (districts.length >0){ %>
                        <div class="col-md-3">
                            <label for="district">জেলা:</label>
                                <select id="district" name="district">
                                    <option value="">জেলা বাছুন:</option>
                                    <% districts.forEach(function(row){ %>
                                        <option value="<%= row.id %>"><%= row.district %></option>
                                    <% }) %>
                                </select>
                        </div>
                    <% } %>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="upazilla" id="upazilla" class="form-control">
                                    <option value="0" disabled="true" selected="true">উপজেলা বাছুন</option>
                                </select>
                            </div>
                        </div>
                    </div>

                <div class="table-responsive" id="output">
                    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>এসএমই'র নাম</th>
                        <th>পিতার নাম</th>
                        <th>ফোন নাম্বার</th>
                        <th>ঠিকানা</th>
                        <th>বীজ ডিলার হিসেবে নিবন্ধিত হলে রেজিস্ট্রেশন নাম্বার</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="10" style="text-align: center;">জেলা উপজেলা সিলেক্ট করুন!</td>
                        </tr>
                    </tbody>
                </table>  
                </div>
            
            
            
            </div>
        </div>
        
        <%- include('../includes/footer')-%>

        <script>
        
            $(document).ready(function(){
                
              $('.dropdown a.test').on("click", function(e){
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
              });
            });
        </script>
        
        <script type="text/javascript">
           
            $("body").on("click", "#btnExport", function () {
                html2canvas($('#tblCustomers')[0], {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 650
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("farmer-details.pdf");
                    }
                });
            });
        
            $('#district').on("change",function () {
                var district = $('#district').val();
                $.ajax({
                    type: "POST",
                    url: "/pd/dashboardDistrictFilter",
                    data: {district: district},
                    datatype: "json",
                    beforeSend: function() {
                        // setting a timeout
                        $('#loading').show();
                        $('#output').hide();
                    },
                    success: function (data) {
                        $('#output').html(data);
                        $('#tblCustomers').DataTable();
                        $('#upazilla').empty();
                        if(data){
                            $.each(data, function(key, value){
                            $('#upazilla').append('<option value="'+value.id+'">' + value.upazilla + '</option>');
        
                        });
                        }else {
                            $('#upazilla').empty();
                        }
        
                    },
                    complete: function() {
                        $('#loading').hide();
                        $('#output').show();
                    }
                });
            });
        
            $("#wrapper").load( "no url rn",function() {
                
                var upazilla = $('#upazilla').val();
                $.ajax({
                    type: "POST",
                    url: "/pd/dashboardFilter",
                    data: {upazilla:upazilla},
                    datatype: "json",
                    beforeSend: function() {
                        // setting a timeout
                        $('#loading').show();
                        $('#output').hide();
        
                    },
                    success: function (data) {
                        $('#output').html(data);
                        $('#tblCustomers').DataTable();
                    },
                    complete: function() {
                        $('#loading').hide();
                        $('#output').show();
                    }
                });
            });
        
            $('#upazilla').on("change",function () {
                var upazilla = $('#upazilla').val();
                $.ajax({
                    type: "POST",
                    url: "/pd/dashboardFilter",
                    data: {upazilla:upazilla},
                    datatype: "json",
                    beforeSend: function() {
                        // setting a timeout
                        $('#loading').show();
                        $('#output').hide();
                    },
                    success: function (data) {
                        $('#output').html(data);
                        $('#tblCustomers').DataTable();
                    },
                    complete: function() {
                        $('#loading').hide();
                        $('#output').show();
                    }
                });
            });
        
            $(document).ready(function() {
                $('#tblCustomers').DataTable();
            } );
        
            
        
        </script>